* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

footer {
	text-align: center;
	margin: 20px;
}

 
.container {
    width: 900px;
    margin: 0 auto;
}

header nav {
    display: inline-block;
    width: 691px;
    vertical-align: top;
    margin-top: 35px;
  }
  
  header nav a {
    margin-right: 65px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  header nav a:first-child {
    margin-left: 0;
  }
  
  header nav a:last-child {
    margin-right: 0;
  }
  
  header .logo {
    margin-top: 25px;
  }
 
  
.main {
	display: flex;
	justify-content: space-between;
	padding: 25px;
	border-bottom: 1px solid black;	
}

h1 {
    font-size: 69px;
}

.topSection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 80px 0px 50px 0px;
		
}

.content-block1 {
    width: 49%;

}
.content-block2 {
    width: 32%;
}

.middle-img {
    
	height: 40%;
		
}
.middleSection {
	display: flex;
	justify-content: space-around;
	align-items: center; 
	margin: 80px 0px 50px 0px;
	
}


.contact {
	display: flex;
	align-items: baseline;
	text-align: left;
    margin: 10px;
    border-top: 1px solid black;
}

.services-header-img {
	margin: auto;
    padding: 0px 0px 40px;
}

button {
	margin: 10px;
    background: white;
    border: 1px solid black;
	width: 150px;
	height: 40px;
}

button:hover {
    background: black;
    color: white;
}

/* ---------Start Services Page---------- */
.container-1 {
	padding: 0px 0px 40px 0px;
    border-bottom: 2px solid black;
    margin: 0px 0px 40px 0px;
}

.container-2 {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	border-bottom: 2px solid black;

}

.container-3 {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.box-2 {   
	height: 250px;
    width: 400px;
	margin: 0;
	margin-bottom: 40px;
    padding: 20px;
    border: 1px solid black;
    background: #f3f3f3 ;

}
.box-3 {
	margin: 0;
	padding: 20px;
	
}
/* -------Media Queries------- */
@media(max-width: 800px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    
     nav {
      display: flex;
      margin-top: 35px;
      margin-left: 15%;
    }

    .logo {
     


    }
     
    .main {
        display: flex;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid black;

    }
    h1 { 
      justify-content: center;
    }

   .topImage {
      display: none;
          
    }
    .topSection   {
        display: flex;
	    justify-content: space-around;
	    align-items: center;
        
  }
    .middleSection {
      display: flex;
     justify-content: space-around;
     align-items: center;
      
    }
    .content-block1 {
        width: 35%
    }
    
    .content-block2{
      
    }

    .middleImage {
        
      width: 100%;
      
    }
    .contact {
      display: flex;
      justify-content: flex-start;
    }
  } 
  

@media(max-width: 500px) {
  nav {

  }
.main {

}
.main .topImage {
  display: none;
}
.topSection {

}
.middleSection {

}
.content-block1 {

}
.content-block2 {

}
}