* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  footer {
    text-align: center;
  }
/* <----Min-Wdith-Content----> */

.container {
    min-width: 500px;
    margin: auto;
  }
  
  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }  

  nav {
    display: flex;
    flex-direction: column-reverse;
  }

 
 header nav {
    display: flex;
    width: 100%;
    vertical-align: top;
 }
  
  header nav a {
    margin-right: 65px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  header nav a:first-child {
    margin-left: 0;
  }
  
  header nav a:last-child {
    margin-right: 0;
  }
   
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    padding: 0 0; 
 }

  li {
      text-align: center;
      font-size: 2rem;
      border-top: 1px solid;
      padding: 0 0 2% 0;
      list-style: none;
  }
  
  li:last-child {
   border-bottom: 1px solid;
 }

 .logo-container {
  display: flex;
  justify-content: center;
 }

 .main {
	display: flex;
  justify-content: center;
  text-align: center;
	padding: 25px;
	border-bottom: 1px solid black;	
}

h1 {
  font-size: 69px;
}
 .main .topImage {
  display: none;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

}
.middleSection {
  display: flex;
  flex-direction: column;
}

img.middle-img {
  width: 100%;
}

.content-block1 {
  width: 100%;

}
.content-block2 {
  width: 100%;
}
/* <-------Media Queries--------> */

@media(min-width: 768px) {

  .container {
    width: 100%;
    margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
}  

ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  padding: 0;
}

li {
  list-style: none;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;

}
h1 { 
  justify-content: space-around;
}

.topImage {
  /* display: none; */
      
}
.topSection   {
   display: flex;
   flex-flow: wrap;
   justify-content: space-around;
 
    
}
.middleSection {
 display: flex; 
 flex-flow: wrap;
 justify-content: space-around;
 align-items: center;
  
}


.content-block1 {
    width: 49%
}

.content-block2{
  width: 30%;

}

.middleImage {
  width: 100%
  
}
.contact {
  display: flex;
  justify-content: flex-start;
 }
}

@media(min-width: 1000px) {


  footer {
    text-align: center;
    margin: 20px;
  }
  
   
  .container {
      width: 70%;
      margin: 0 auto;
  }
  header {
    display: flex;
    width: 100%;
  }
  header nav {
      display: flex;
      flex-direction: row;
    
    }
    
    header nav a {
      margin-right: 65px;
      font-size: 14px;
      color: gray;
      text-decoration: none;
    }
    
    header nav a:hover {
      text-decoration: underline;
    }
    
    header nav a:first-child {
      margin-left: 0;
    }
    
    header nav a:last-child {
      margin-right: 0;
    }
     
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      /* width: 100%;
      justify-content: space-around; */
      align-content: center;
    }
  
    li {
      list-style: none;
      border: none;
    }
      
    
  .main {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid black;	
  }
  
  h1 {
      font-size: 69px;
  }
  
  .topSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0px 50px 0px;
      
  }
 .main .topImage {
    display: block;
  
  }
  li:last-child {
    border: none;
  
  }

  .content-block1 {
      width: 49%;
  
  }
  .content-block2 {
      width: 32%;
  }
  
  .middle-img {
    
    width: 100%;  
    height: 40%;
      
  }
  .middleSection {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 80px 0px 50px 0px;
    
  }
  
  
  .contact {
    display: flex;
    align-items: baseline;
    text-align: left;
      margin: 10px;
      border-top: 1px solid black;
  }
  
  .services-header-img {
    margin: auto;
      padding: 0px 0px 40px;
  }
  
  button {
    margin: 10px;
      background: white;
      border: 1px solid black;
    width: 150px;
    height: 40px;
  }
  
  button:hover {
      background: black;
      color: white;
  }
  
}




